<h1>Editing <%= @artist.name %></h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <% if @artist.songs %>
  <% @artist.songs.each do |song|  %>

  Song: <%= song.title %> <br>
  <% end %>
    <%= f.submit %>
    <% else %>
    <%= f.label :artist_name %>
    <%= f.label :artist_name %>
    <%= f.submit "Add Artist" %>

  <% end %>


<% end %>
