<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <% if @song.artist %>
    <%= f.label :artist_name %>
    <%= f.text_field :artist_name %>
  <% else %>
    <% display_artist(@song)%>
  <% end %>
  <br />

  <%= f.submit %>
<% end %>
