<h1><%= link_to @song.title, song_path(@song) %></h1>
<% if @song.artist.present? %>
<li><%= display_artist(@song) %></li>
  <%= link_to @song.artist.name, artist_path(@song.artist) %>
<% else %>
  <%= link_to "Add Artist", edit_song_path(@song) %>
<% end %>

<%= link_to "All Songs", songs_path %>
