<h1><%= link_to @song.title, song_path(@song) %></h1>

<%= link_to "All Songs", songs_path %>

<% if @song.artist %>
  <p> <%= link_to @song.artist_name, artist_path(@song.artist) %>  </p>
  <% else %>
  <p> <%= link_to "Add Artist", edit_song_path(@song) %> </p>
<% end %>

<p> <%= display_artist(@song) %> </p>
